<html>
<head>
    <title>Results</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
			table, th, td {
  border: 1px solid black;
}
</style>

<body>
<table>
	<tr>
		<th></th>
		<th>precsion</th>
		<th>recall</th>
		<th>f1-score</th>
		<th>support</th>
	</tr>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.00</td>
      <td>1.00</td>
	  <td>1.00</td>
	  <td>85299</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.82</td>
      <td>0.60</td>
	  <td>0.69</td>
	  <td>144</td>
    </tr>
	<tr>
      <th>accuracy</th>
      <td></td>
      <td></td>
	  <td>1.00</td>
	  <td>85443</td>
    </tr>
	<tr>
      <th>macro avg</th>
      <td>0.91</td>
      <td>0.80</td>
	  <td>0.85</td>
	  <td>85443</td>
    </tr>
	<tr>
      <th>weiighted avg</th>
      <td>1.00</td>
      <td>1.00</td>
	  <td>1.00</td>
	  <td>85443</td>
    </tr>
  </tbody>
</table>
</body>
</html>