<html>
    <head>
        <title>Uploading Dataset</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		
		<style>
			.container{
				width:95%;
			}
		
			ul {
			font-size: 20px;
			}
			
		</style>
    </head>
    <body>
	
	<script>
    function disableButton() {
        var btn = document.getElementById('upload');
        btn.disabled = true;
        btn.innerText = 'Uploading...'
    }
</script>
	
	
	<div class="container">
		<h1>Upload Data</h1>
		<form id='upload-file' method='POST' action='/upload' onsubmit='disableButton()' enctype='multipart/form-data'>
		
		<div class="form-group">
		<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
		{% endwith %}
            <label for="inputFile"><strong>Select a csv file</strong></label>
			<br>
            <input type='file' id='file' name='file' required>
        </div>
		<br>
		<div class='problem'>
			
			<label for="Problem"><strong>Select the type of problem : </strong></label><br>
			<p style='color:red;'>*Please select any one</p>
		
			<input type="radio" id="Classification" name="Problem" value="0" required>
			<label for="Classification">Classification</label><br>
			<input type="radio" id="Regression" name="Problem" value="1">
			<label for="Regression">Regression</label><br>
		</div>
		<br>
		
		<button id='upload' type='submit' class='btn btn-primary'>Upload</button>
        </form>
    </div>
	
    </body>
</html>