<html lang="en">
    <head>
        <title>Preferences</title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		
		<style>
		.checkboxes { border:2px solid #ccc; width:50%;
		height: 160px;
		overflow-y: scroll; }
		</style>
    
	</head>
    
	<body>
	<div class="container">
		<div class="table-responsive">
		<div class='table table-striped'>
		<table>
		<thead>
		<tr>
			{% for each in columns %}
			<th>{{ each }}</th>
			{% endfor %}
			<th>{{ outcome }}</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			{% for row in data %}
				{% for column in row %}
				<td>{{ column }}</td>
				{% endfor %}
		</tr>
			{% endfor %}
		</tbody>
			
		</table>
		</div>
		</div>
	
	
	
		<form id='form' method='POST' action='/solve' onsubmit='disableButton()' enctype='multipart/form-data'>
		
		<div class="form-group">
			
			<div class="dropdown">
			<input type="hidden" id="choice" name="choice" value="{{ choice }}" readonly>
		
			<label for="Algorithm" required><b>Choose an Algorithm:</b></label><br>

				<select id="Algorithm" name='Algorithm' required>
				  <option value="" disabled selected hidden>Please Choose...</option>
				{% for i in range(algorithm|length) %}
				  <option value="{{ i }}">{{ algorithm[i] }}</option>
				{% endfor %}
				</select><br>
			<br>
			
			<p style='color:red;'>* Select atleast one column from categorical or numeriacl</p>
			<p><b>Select the Categorical columns to be considered to analyze : </b></p>
			
			<div class='checkboxes'>
			
			<label>
			<input type="checkbox" class='features' onclick="toggle1(this);">Select All</label><br>
			
			{% for i in range(default_categorical_columns|length) %}
			<label>
			<input type="checkbox" class='features' name='selected_categorical_columns' value='{{ default_categorical_columns[i] }}' checked>{{ default_categorical_columns[i] }}
			</label><br>
			{% endfor %}
			
			{% for i in range(default_numerical_columns|length) %}
			<label>
			<input type="checkbox" class='features' name='selected_categorical_columns' value='{{ default_numerical_columns[i] }}'>{{ default_numerical_columns[i] }}</label><br>
			{% endfor %}	
				
			</div>
			<br>
			
			<p><b>Select the numerical columns to be considered to analyze: </b></p>

			<div class='checkboxes'>
			
			<label>
			<input type="checkbox" class='features' onclick="toggle2(this);">Select All</label><br>
			
			{% for i in range(default_numerical_columns|length) %}
			<label>
			<input type="checkbox" class='features' name='selected_numerical_columns' value='{{ default_numerical_columns[i] }}'>{{ default_numerical_columns[i] }}</label><br>
			{% endfor %}	
				
			</div>
			<br>
			
			<label for="outcome"><b>Select the Outcome Column:</b></label><br>	
			<input type="checkbox" id='outcome' name='outcome' value='{{ outcome }}' checked onclick="return false;" onkeydown="e = e || window.event; if(e.keyCode !== 9) return false;">
			<label for='outcome'>{{ outcome }}</label><br><br>
			
			
			<p><b>Choose testsize ratio to be taken from dataset:</b></p>
			<p style='color:red;'>* The recommended value is 0.3</p>		
			<label for="testsize">Choose a test size:</label>

				<select id="testsize" name='testsize' required>
				  <option value="" disabled selected hidden>Please Choose...</option>
				  <option value="1">0.1</option>
				  <option value="2">0.2</option>
				  <option value="3">0.3</option>
				  <option value="4">0.4</option>
				  <option value="5">0.5</option>
				</select><br>
		</div>
			<br>
			<br>
		
		
		
		
		<button id='upload' type='submit' class='btn btn-Success'>Start</button>
        </form>
    </div>
	
    </body>
</html>