<html lang="en">
    <head>
        <title>Preferences</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<style>
			table, th, td {
				border: 1px solid black;
			}

			.checkboxes { border:2px solid #ccc; width:40%; height:30%; overflow-y: scroll;}
		</style>
    </head>
    <body>
	<div class="container">
		<div class='dataset' style="overflow-x:auto;">
		<table>
		<tr>
			{% for each in columns %}
			<th>{{ each }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for row in data %}
				{% for column in row %}
				<td>{{ column }}</td>
				{% endfor %}
		</tr>
			{% endfor %}
			
		</table>
		</div><br>
		<hr>
	
	
	
		<form id='upload-file' method='POST' action='/preferences' enctype='multipart/form-data'>
		<div class="form-group">
			<label for="Algorithm">Choose an Algorithm:</label>

				<select id="Algorithm" name='Algorithm'>
				  <option value="0">KNN</option>
				  <option value="1">Logistic</option>
				  <option value="2">Linear SVM</option>
				</select><br>
				
			<div class='checkboxes'>
			
			<label for="columns">Select the columns to be considered for analyzing from dataset:</label><br>
			{% for i in range(columns|length) %}
			
			<input type="checkbox" id='{{ columns[i] }}' name='selected_columns' value='{{ i+1 }}'>
			<label for='{{ columns[i] }}'>{{ columns[i] }}</label><br>
			
			{% endfor %}	
				
			</div>
				
			
			
				
			
			<label for="label">Enter the column number of label from dataset:</label><br>
			<input type='text' id='label' name='label'><br>
			
			<label for="testsize">Enter testsize ratio to be taken from dataset:</label><br>
			<input type='text' id='testsize' name='testsize'><br>
				
		</div>
		
		
		
		
		<button id='upload' class='btn btn-default'>Analyze</button>
        </form>
    </div>
	
    </body>
</html>